@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,100&display=swap');

body {
  background-color: rgb(7, 7, 7);
  font-family: 'Roboto', sans-serif;
}

.post-body img.image-small {
  max-width: 100%;
  height: auto;
}

.post {
  background-color: white;
  margin-left: 400px;
  margin-right: 400px;
  margin-top: 40px;
  margin-bottom: 20px;
  width: auto;
 
}

.caja1 {
  background-color: white;
  width: 30px;
  height:50px;
  float: left;
  padding: 5px;
  margin-top: 10px;
}

.caja2 {
  background-color: white;
  width: 50px;
  height:50px;
  float: left;
  padding: 10px;
  padding-left: 0%;
  line-height:20%;
  margin-top: 10px;
}

.caja3 {
  background-color: white;
  width: 30px;
  height:50px;
  float: right;
  margin-top: 10px;
}


.fa-ellipsis-vertical {
  margin-right: px;
  font-size: 2rem
}

.groupedIcons {
  font-size: 2rem;
  padding: 10px;
 }


.html-icon {
  font-size: 2rem
}

.Liked {
  padding: 10px;
}