@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,400;1,100&display=swap');

body {
  background-color: rgb(7, 7, 7);
  font-family: 'Roboto', sans-serif;
}

.post {
  background-color: white;
  max-width: 400px;
  /* Ajusta el ancho máximo según tus preferencias */
  margin: 0 auto;
  /* Centrar el contenedor */
  padding: 10px;
}

.container {
  display: flex;
  flex-direction: column;
  /* Apilar elementos en pantallas pequeñas */
  align-items: center;
  /* Centrar elementos en el eje horizontal */
  text-align: center;
  /* Centrar el texto */
}


/* Estilos para pantallas más grandes, como tabletas y escritorios */
@media (min-width: 769px) {
  .container {
    flex-direction: row;
    /* Mostrar elementos en línea en pantallas más grandes */
    justify-content: space-between;
    /* Distribuir las cajas horizontalmente */
  }

  .caja1,
  .caja2,
  .caja3 {
    margin-bottom: 5px;
    /* Espacio entre las cajas */
  }

  .caja2 p {
    margin-bottom: 0px;
    /* Ajustar el margen inferior de la <p> en .caja2 */
    margin-top: 0px;
  }

  .caja3 {
    margin-left: auto;
    /* Colocar la caja3 a la derecha */
  }
}

/* Ajuste de la imagen para ser del mismo tamaño que los otros div */
.post-body img.image-small {
  max-width: 100%;
  height: auto;
  width: 100%;
  /* Añadir esta regla para asegurarse de que la imagen sea del mismo tamaño que los otros div */
}

/* Ajustar el tamaño de la fuente dentro de "Liked" */
.Liked p {
  font-size: 14px;
  /* Ajusta el tamaño de la fuente según tus preferencias */
}

/* Ajustar el tamaño de la fuente para los iconos */
.groupedIcons i {
  font-size: 18px;
  /* Ajusta el tamaño de la fuente según tus preferencias */
}